<%- include("partials/header") %>
<% projects.forEach(function(ele){%>
    <div id="proPop<%= ele.id %>" class="proPop display">
        <div class="popMain">
            <img src=<%= ele.img %> alt="">
            <h1><%= ele.name %></h1>
            <h3><%= ele.des %></h3>
            <div class="webLink">
                <h4>Website Link -</h4>
                <a target="_blank" href=<%= ele.link %>><%= ele.link %></a>
            </div>
        </div>
        <a id="proPopB<%= ele.id %>" class="proPopB">
            <p>⨯</p>
        </a>
    </div>
    <%}) %> 

    <div id="resumeCon" class="resumeCont display">
        <img src="/img/resumeMj.jpg" alt="">
        <a id="resumeD">
            <p>⨯</p>
        </a>
    </div>

    <div class="container">
        <div class="leftContainer">
            <div class="logo">
                <a href="/"><img src="/img/mjlogo.png" alt=""></a>
            </div>
            <div id="socials">
                <h3>Socials -</h3>
                <div id="instagram" class="social">
                    <a href="https://join.slack.com/t/newworkspace-nig2346/shared_invite/zt-1lp9ax1n4-~Zecyj0U~tnztIMsmsK6uA">
                        <img src="/img/slack.png" alt="">
                        <p>@Meghsham Jade (MJ)</p>
                    </a>
                </div>
                <div id="faceBook" class="social fb">
                    <a href="https://www.facebook.com/meghsham.jade/">
                        <img src="/img/facebook.png" alt="">
                        <p>Meghsham Jade</p>
                    </a>
                </div>
                <div id="discord" class="social discord">
                    <a href="https://discord.gg/mFYaPHj6">
                        <img src="/img/discord.png" alt="">
                        <p>ÆRÉS#9264</p>
                    </a>
                </div>
                <div id="twitter" class="social twt">
                    <a href="https://twitter.com/Meghsham6">
                        <img src="/img/twitter.png" alt="">
                        <p>@Meghsham6</p>
                    </a>
                </div>
            </div>
            <div class="weather">
                <div class="deg">
                    Pune : 23.5°
                </div>
                <div class="des">
                    scattered clouds <img src="/img/mjlogo.png" alt="">
                </div>
            </div>
            <div class="downScrollL">
                <marquee behavior="" direction="right" class="scroll">scroll---></marquee>
            </div>
        </div>
        <!-- Mid container starts here --- -->
        <%- include("partials/mid") %>
            <!-- Right container starts from here ---  -->
            <div class="rightContainer">
                <div class="downScrollR">
                    <marquee behavior="" direction="right" class="scroll">scroll---></marquee>
                </div>
                <div class="dateTime">
                    <div id="date" class="date">
                        none
                    </div>
                    <div id="time" class="time">
                        10:58:32pm
                    </div>
                </div>
                <div class="comments">
                    <div class="login">
                        <h3>Login to see comments </h3>
                        <div class="btn">
                            <form action="/register" method="get">
                                <marquee behavior="" direction="right">→</marquee><button id="login">login</button>
                                <marquee behavior="" direction="left"> ← </marquee>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <%- include("partials/footer") %>